.currency-field {
    border-left: none;
    border-top-right-radius: var(--RadiusS);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.currency img {
    border: 1px solid var(--BorderSecondary) !important;
    border-right: none !important;
    border-top-left-radius: var(--RadiusS);
    border-bottom-left-radius: var(--RadiusS);
}