.currency-field {
    border-top-right-radius: var(--RadiusS);
    background-image: url('/src/assets/icons/Currency.svg'), url('/src/assets/icons/CurrencyCode.svg');
    background-position: left 0px center, right 10px center;
    background-repeat: no-repeat;
    height: 40px;
    box-sizing: border-box;
    width: 100%;
    border-radius: var(--RadiusS);
    text-indent: 40px;
    padding: 0 !important;
}
