.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: var(--Spacing2XL);
}